
<!DOCTYPE html>
{% load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Zugriff abgelehnt</title>
{% include "Main.html" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{%static 'testApp\css\Main.css'%}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

<div class="main">
  <div class="topNavigation">
</div>


  </div>



<div style="margin-top:230px;">
<center><p>Nur Ausleiher kann das Buch zurückgeben</p>
<p> Bei weiteren Fragen bitte sich an die Verwaltung wenden</p>
<h3>
<button> <a href="{%url 'books'%}">zurück</a> </button>
</h3>
</center>

</div>
</body>
</html>